<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path @list.photo.key, height: 300, crop: :fill %>')">
  <div class="container">
    <h1><%= @list.name %></h1>
    <a><%= link_to "New bookmark", new_list_bookmark_path(@list), class: "btn btn-flat" %></a>
  </div>
</div>
<div class="container">
  <div class="row">
    <% @list.movies.each do |movie| %>
    <% bookmark = Bookmark.find_by(list: @list, movie: movie) %>
    <div class="col-sm-6">
      <div class="film-card">
        <img src="<%= movie.poster_url %>" />
        <div class="film-card-infos">
          <div>
            <h2><%= movie.title %> | <%= movie.rating %> ⭐</h2>
            <p><%= movie.overview %></p>
          </div>
        </div>
        <div class="film-card-infos">
          <div>
            <h2><%= bookmark.comment %></h2>
          </div>
          <div>
            <h2><%= link_to "Delete", bookmark_path(bookmark), class: "ms-3 text-danger", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %></h2>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
